* {
    box-sizing: border-box;
}

html {
    color: black;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header, #footer {
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

#header {
    -webkit-flex-flow: row-reverse;
    flex-flow: row-reverse;
}

#footer {
    border-bottom: none;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#login {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#left_block, #right_block {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#center_block {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

input {
    padding: 2px;
    margin: 5px;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input:focus {
    background: lightgray;
    border: 1px solid black;
}

input[type=submit] {
    margin-left: 119px;
    width: 80px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: dimgrey;
    border: none;
    color: white;
    cursor: pointer;
}

label {
    display: -moz-inline-stack;
    display: inline-block;
    width: 110px;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0 0 5px -25px;
}

ul li {
    margin: 0 0 5px 0;
}

ul li p {
    font-weight: bold;
}

ul li div {
    display: inline;
}

#login_form {
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px;
}

#login_form fieldset {
    margin: 0 0 5px 0;
    border: none;
}

@media only screen and (max-width: 768px) {
    #login {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #left_block {
        display: none;
    }

    #center_block {
        border-bottom: 1px solid black;
    }

    #right_block {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    #login {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    #center_block {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}
